body { background-color: white;
}

h1 { font-weight:       bold;
 color:          black;
}

h2 { font-weight: bold;
}

.redtext { color: red;
}

.greentext { color: green;  
    }

.bluetext { color: blue;
    }

.bigtext { font-size: 30px;
    }

.tinytext { font-size: 10px;
    }

.middletext { text-align: center;
    }

.boldtext { font-weight: bold;
    }

.changetext{ font-family: cursive;
    }

.multipletext { font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 25px;
                font-weight: bolder;
                color: orange;
}

.styledFont { color: springgreen;
    }

#styledImage { border-width: 10px;
               border-style: solid;
               border-color: tomato;
    }